body{
    width: 70%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 2px 2px 24px 1px rgba(0, 0, 0, 0.2);
text-align: center;
font-size: xx-large;
}
button{
    margin: 10rem auto;
    background-color: greenyellow;
    width: 200px;
    height: 60px;
    font-size: 1.5rem;
    padding: 20px 40px;
    
}


.list {
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;


}

@media (max-width:600px) {
    button{
        background-color: rgb(175, 175, 175);
    }
    
    body{
        width: 70%;
        background-color: rgb(248, 248, 248);
    }
}